*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  
  
  }
  body{
      background-color: #f2f4f5;
  }
  /* <--========================== *navbar* =================================== --> */
  .header{
      background-color: #f7f8f9;
      box-shadow: 0 0 2px grey;
      position: sticky;
      top: 0%;
      z-index: 5;
  }
  .navbar{
      display: flex;
      align-items: center;
      width: 1300px;
      margin: auto;
  }
  .navbar img{
      width: 70px;
  }
  .country_select{
      width: 250px;
      margin-left: 70px;
  }
  .select i{
      font-size: 15px;
      transition: all 0.3s ;
  }
  .select{
      width: 100%;
      padding: 10px 10px;
      background-color: rgba(255,255,255,0.7);
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 2px solid black;
  }
  .option{
      display: flex;
      padding: 10px;
      width: 250px;
      cursor: pointer;
  
  
  }
  .option:hover{
      background-color: #c7dcff;
  }
  .option p{
      margin-left: 10px;
      color:#444444;
  }
  .option i{
      color: #839a9c;
  }
  .option_box{
      box-shadow: 0 0 10px grey;
      background-color: white;
      display:  none ;
      position: absolute;
      top: 60px;
  }
  .hidden{
      display: block;
  }
  .roted{
      transform: rotate(180deg);
  }
  .search_box{
      display: flex;
      margin-left: 30px;
  }
  .search_box i{
      background-color: black;
      color: aliceblue;
      padding: 14px;
      font-size: 15px;
      border-radius: 0 6px 6px 0;
      cursor: pointer;
      
      
  }
  .searchclass{
      padding: 10px;
      width: 400px;
      font-size: 13px;
      border: 2px solid black;
      border-radius: 6px 0 0 6px;
  }
  #eng_tag{
      cursor: pointer;
      font-size: 18px;
      margin-left: 25px;
      
  }
  .hin_eng{
      background-color: white;
      box-shadow:0 0 10px grey;
      width: 130px;
      display: none;
      position: absolute;
      top: 60px;
      z-index: 1;
      cursor: pointer;
      
  }
  .hin_eng li{
      list-style: none;
      padding: 10px 20px;
      margin-top: 10px;
      
  }
  .hin_eng li:hover{
  background-color: #c7dcff;
  
  }
  .display_div{
   display:block;
  }
  .messege{
      font-size: 22px;
      color: black;
      cursor: pointer;
      margin-left: 25px;
      
  }
  .my_img img{
      cursor: pointer;
      width: 55px;
      border-radius: 50%;
      margin-left: 55px;
  }
  .name_img p{
      font-size: 15px;
      font-weight: bold;
   }
  .name_img img{
      width: 65px;
      border-radius: 50%;  
      
  }
  .name_img{
  display: flex;
  align-items: center;
  margin: 10px 20px 0;
  }
  .dropdown{
      width: 250px;
      box-shadow: 0 0 10px grey;
      padding: 15px;
      background-color: white;
      display: none;
      position: absolute;
      top: 60px;
      margin-left: 65rem;
  
      
      
  }
  .dropdown ul li{
      display: flex;
      padding: 10px;
      margin-top: 5px;
      cursor: pointer;
  }
  .dropdown ul li:hover{
  background-color: #c7dcff;
  }
  .dropdown ul{
      margin-top: 20px;
  }
  .dropdown ul li i{
      color: black;
      font-size: 17px;
  }
  .dropdown_block{
      display: block;
  }
  .selling_page button{
      margin-left: 25px;
      border-style:solid;
      border-width: 5px;
      border-top-color:#23e5db ;
      border-left-color:#ffce32 ;
      border-right-color:#3a77ff ;
      border-bottom-color:#3a77ff ;
      font-size: 15px;
      cursor: pointer;
      padding: 6px 12px;
      border-radius: 30px;
      background-color: white;
      color: black;
      display: flex;
  }
  .add_img img{
    position: relative;
    width: 1000px;
    height: 270px;
     z-index: -2;
   
}
.add_img{
    width: 1000px;
    margin: auto;
    margin-top: 35px;
    height: 270px;
    position: relative;
}
.add_img i{
    position: absolute;
    top: 0;
    right: 0;
   color:grey;
   cursor: pointer;
}
.product_img{
      width: 1200px;
    display: flex;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    
}  
.img_description{
    width: 800px;
    }
.img_description img{
    width: 800px;
    border-radius: 5px;
    

}
#prev{
    color: white;

}
#next{
    color: white;
}
.desciption{
    padding-left: 20px;
    border: 1px solid rgba(179,178,178);
    border-radius: 5px;
    background-color: white;
    padding-bottom: 15px;
}
.desciption h3{
padding: 10px 10px 10px 0;
font-size: 20px;
}
.description p{
    line-height: 20px;
    color: rgba(51,51,51);
}
.product_details{
    width: 400px;
    margin-left: 10px;

}
.box{
    margin-left: 10px;
    background-color: white;
    border: 1px solid rgba(179,178,178);
    border-radius: 5px;

}
.price{
    display: flex;
}
.price h3{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.price p{
    font-size: 25px;
    font-weight: normal;
     margin-left: 210px;
    margin-top: 6px;
    padding: 10px 0 10px 10px ;
    cursor: pointer;
    }
    .box span{
        color: #757674;
        padding: 0 0 10px 10px;
    }
    .location{
        display: flex;
        justify-content: space-between;
        font-size: 11px;
        padding: 15px 10px 15px 10px;
    }
    .seller_details img{
        width: 55px;
        border-radius: 50%;
        margin: 10px 10px 8px 10px;


    }
    .seller_details{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .selller_description{
        font-size: 17px;
        color: #212f34;
        padding: 10px 0 5px 10px;
    }
    .seller_details h2{
        font-size: 18px;
    }
    .seller_details p{
        font-size:13px;
    }
    .box a{
        text-decoration: none;
        color: black;
        padding: 10px 120px;
        border: 2px solid black;
        margin: 10px;
        transition: all 0.3s;
    }
    .box a:hover{
        border: 4px solid black;
    }
    #box2{
        height: 170px;
        margin-top: 13px;
        margin-left: 10px;
    }
    #box3{
        
        float: left;
        height: 282px;
         width: 392px;
        margin: 13px;
    }
    #box3 h2{
        font-size: 18px;
        padding: 15px;
    }
    #box3 p{
        font-size: 13px;
        padding: 0 0 10px 15px;
    }
    #box3 img{
        width: 391px;
        padding-bottom: 10px;

    }
 